/* Color Schemes */


/* Basic
** purple: rgb(106,105,173)
** blue:   rgb(80,177,219)
** green:  rgb(142,171,45)
** yellow: rgb(251,244,50)
** red:    rgb(216,83,42)
** pink:   rgb(226,128,169)
*/


/* CSS reset */


/* Standard HTML tags */

body {
  background-color: #f2f2f2;
  align-content: center;
}

h1 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 10vh;
}

h2 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 5vh;
}

h3 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 3vh;
  word-break: break-word;
}

p {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 2.5vh;
  word-break: break-word;
}

button {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 2vh;
  padding: 20px;
}

td {
  height: 50px;
  width: 50px;
  text-align: center;
}

tr {
  height: 50px;
  width: 50px;
}


/* Classes & IDs */


/* Title & Scoring area (left div) */

#scoreArea {
}

#text {
  max-width: 30vw;
  text-align: justify;
  float: left;
}

#scoring {
  float: left;
  width: 50vw;
  /*    display: inline-block;*/
}

#stepCounter,
#percentage,
#refreshIcon {
  margin-top: 5px !important;
  margin-bottom: 50px !important;
  padding: 0 !important;
  float: left;
  margin-left: 2vw;
  /*  width: 47vw;*/
  /*  display: inline-block;*/
}

#refreshIcon {
  height: 5vh;f
}

#refreshIcon:hover {
  opacity: 0.5;
  -webkit-transition: -webkit transform .4s ease-in-out;
  transition: transform .4s ease-in-out;
  -webkit-transform: rotate(180deg);
}

#autosolve_txt {
  float: left;
}

#autosolve_buttons {
  float: left;
}

#step {
  visibility: hidden;
  background-color: yellowgreen;
}

#schemes {
  text-align: justify;
  float: left;
  /*  display: inline-block;*/
}

#colorScheme {
  height: 70px;
  width: 70px;
}

#colorScheme:hover {
  opacity: 0.5;
}


/* Gameplay Area (right div) */

#gameboard {
  margin-top: 8vh;
/*  margin: 0 auto;*/
  max-width: 700px;
}

#grid {
  border-collapse: collapse;
  height: 600px;
  width: 600px;
  /*  display: block;*/
  /*  margin-left: auto;*/
  /*  margin-right: auto;*/
}

#buttons {
  border: 5px;
}

.circle {
  border-radius: 50%;
  width: 65px;
  height: 65px;
  margin: 5px;
}

.circle:hover {
  opacity: 0.5;
}


/* Layout */

.container {
  margin-top: 10vh;
  text-align: center;
}

.left-div {
  display: inline-block;
  /*     max-width: 300px;*/
  vertical-align: top;
  height: 100%;
  width: 50vw;
}

.right-div {
  display: inline-block;
  height: 100%;
  width: 35vw;
  /*     max-width: 150px;*/
}
